@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat+Alternates&family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
  }

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.main-container {
    @apply h-auto sm:px-24 px-16 py-10 overflow-hidden;
}


/* BUTTON STYLES START */

.btn-outlined-styles {
    @apply bg-transparent border border-primary-black-100 rounded-full px-2 md:px-6 py-2 md:py-4;
}

.btn-outlined-title-styles {
    @apply text-primary-black-100 font-medium text-sm md:text-base capitalize; 
}

.btn-light-red-styles {
    @apply bg-light-red-100 rounded-full px-3 md:px-4 py-1 md:py-2;
}

.btn-light-red-title-styles {
    @apply text-primary-black-100 font-normal text-xs md:text-sm capitalize; 
}

.btn-light-green-styles {
    @apply bg-light-green-100 rounded-full px-6 md:px-8 py-1;
}

.btn-light-green-title-styles {
    @apply text-primary-black-100 font-normal text-xs capitalize; 
}

.btn-outlined-styles-sm {
    @apply bg-transparent border border-primary-black-100 rounded-full px-2 md:px-5 py-2 md:py-2 w-full;
}

.btn-outlined-title-styles-sm {
    @apply text-primary-black-100 font-medium text-xs md:text-sm capitalize; 
}

.btn-filled-styles {
    @apply bg-primary-black-100 border border-primary-black-100 rounded-full px-2 md:px-6 py-2 md:py-2 w-full;
}

.btn-filled-title-styles {
    @apply text-light-white-100 font-medium text-xs md:text-sm capitalize; 
}

.btn-filled-white-styles {
    @apply bg-light-white-100 rounded-full px-2 md:px-6 py-1 md:py-2 w-full;
}

.btn-filled-white-title-styles {
    @apply text-primary-black-100 font-normal md:font-medium text-small md:text-xs; 
}

/* BUTTON STYLES END */




/* COLLECTIONS STYLES START */

.collections-container {
    @apply  my-20 relative;
}

.collections-title {
    @apply text-primary-black-900 font-bold md:text-base capitalize; 
}


/* COLLECTIONS STYLES END */